<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" />
    <script type='text/javascript' src='//conditioneavesdroppingbarter.com/7e/d7/38/7ed738b1b5ffe9c61bc0c0c4b2d90c2c.js'></script>
</head>
<body>
    <div class="mainBody"   >
        <nav class="nav" >
            <span class="navTitle" > A Pyo Lay Version1.0 </span>
        </nav>

        <div class="contentBody">

            <h3> Welcome To Our Page </h3>
            <div class="card">
                <img src="/assets/c.png" alt="imagec" class="image">
            </div>

            <script type='text/javascript' src='//conditioneavesdroppingbarter.com/33/a8/33/33a8333713689c740c51086158bd595b.js'></script>

            <h3> <%=linkUrl %> </h3>

            <script type="text/javascript">
                atOptions = {
                    'key' : 'da0243322f666a860658a0e749406003',
                    'format' : 'iframe',
                    'height' : 250,
                    'width' : 300,
                    'params' : {}
                };
            </script>
            <script type="text/javascript" src="//conditioneavesdroppingbarter.com/da0243322f666a860658a0e749406003/invoke.js"></script>

           

            <div class="card">
                <img src="/assets/b.png" alt="imageb" class="image">
            </div>


            <script async="async" data-cfasync="false" src="//conditioneavesdroppingbarter.com/ad54ecb61c2044480f35551c9777709e/invoke.js"></script>
            <div id="container-ad54ecb61c2044480f35551c9777709e"></div>


            <div class="card">
              <a href="<%=linkUrl %>">
                <img src="/assets/d.png" alt="imaged" class="image">
              </a>
            </div>

            
        </div>


        <!-- <div class="btnContainer">
            <button id="btn"  > 
              <span>Click Here</span>
              <span> Fuck You </span>
            </button>
        </div>
        <script src="/index.js" ></script> -->
    </div>
</body>
</html>