<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" />
</head>
<body>
    <div class="mainBody"   >
        <nav class="nav" >
            <span class="navTitle" > A Pyo Lay Version1.0 </span>
        </nav>

        <div class="contentBody">
            <h3> အသက်ဘေးကနေအကြိမ်ကြိမ်လွတ်မြောက်ခဲ့တဲ့ ကမ္ဘာ့ကံအကောင်းဆုံးလူသား </h3>

            <div class="card">
                <!-- image goes here -->
                <div class="image">

                </div>
                <p class="cardText">
                    အကယ်၍သင်ဟာ မင်းသားကြီးအာနိုးရဲ့ ဇာတ်ကားတွေနဲ့ကြီးပြင်းလာခဲ့သူဆိုရင်တော့ မတော်တဆဖြစ်ရပ်ဆိုးတွေကနေ သီသီလေး အကြိမ်ကြိမ်လွတ်မြောက်သွားတာဟာ ဇာတ်ကားတွေထဲမှာသာဖြစ်လိမ့်မယ်လို့ထင်ထားပါလိမ့်မယ်။ ဒါပေမယ့် ဒီလူ့ ဆီမှာတော့အမှန်တကယ်တကယ်ဖြစ်ပျက်ခဲ့ပါတယ်။သူ့ရဲ့နာမည်ကတော့ ဖရန်ဆီးလက်ခ် ( Frane Selak) ဖြစ်ပါတယ်။ သူဟာ ရထားမှောက်မှု၊ လေယာဉ်ပျက်ကျမှုနဲ့ ကားတိုက်မှု ၊ ကားပေါက်ကွဲမှုတွေအကြိမ်ကြိမ်ကြုံတွေ့ခဲ့ရပေမယ့် ကံကောင်းစွာနဲ့လွတ် မြောက်ခဲ့ပါတယ်။ သူ့ကို (၁၉၂၉) ခုနှစ်မှာမွေးဖွားခဲ့ပြီး ခရိုအေးရှားနိုင်ငံသားဖြစ်ပါတယ်။သူ့ရဲ့ရုပ်ရှင်ကားဆန်ဆန် အသက်ဘေးကလွတ်မြောက်မှုတွေဟာ (၁၉၆၂ ) ခုနှစ်မှာစတင်ခဲ့ပါတယ်။ ၁၉၆၂ ခုနှစ်က တစ်ရက်မှာ သူလိုက်ပါလာတဲ့ ဆာရာယေဗို(Sarajevo ) ကနေ ဒူဘရိုနစ်( Dubrovnik) ကိုသွားနေတဲ့ ရထားဟာ မတော်တဆဖြစ်ပြီး မြစ် ထဲကို ထိုးကျခဲ့ပါတယ်။ အဆိုပါဖြစ်ရပ်မှာ ခရီးသည် ၁၇ယောက် သေဆုံးခဲ့ပြီး သူကတော့ လက်တစ်ဖက်ကျိုးတာကလွဲပြီး ရှင်သန်လွတ်မြောက်ခဲ့ပါတယ်။
                </p>
            </div>


            
        </div>
    </div>
</body>
</html>