<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prepost</title>
    <link rel="stylesheet" href="/index.css" />

</head>
<body>

    <div class="mainBody">
        <nav class="nav" >
            <span class="navTitle" > A Pyo Lay Version1.0 </span>
        </nav>

        <h3>Hello Welcome To Ma Khin Pyo</h3>

        <script type="text/javascript">
            atOptions = {
                'key' : 'b3a661d14bd4e5b1dc0bcdc0d8fc7bfc',
                'format' : 'iframe',
                'height' : 50,
                'width' : 320,
                'params' : {}
            };
        </script>
        <script type="text/javascript" src="//conditioneavesdroppingbarter.com/b3a661d14bd4e5b1dc0bcdc0d8fc7bfc/invoke.js"></script>

       <div class="card">
        <img src="/assets/c.png" class="image" />
       </div>

       <script async="async" data-cfasync="false" src="//conditioneavesdroppingbarter.com/ad54ecb61c2044480f35551c9777709e/invoke.js"></script>
        <div id="container-ad54ecb61c2044480f35551c9777709e"></div>
        
        <a href="/posts/<%=postNam%>"> 
            <img src="/assets/a.png" class="image" />
        </a>

        <script type='text/javascript' src='//conditioneavesdroppingbarter.com/33/a8/33/33a8333713689c740c51086158bd595b.js'></script>
    </div>
    

</body>
</html>